#chaos{
    width: 500px;
    height:500px;
    background: white;
    border: black 2px solid;
}
.chaos-canvas{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.chaos-canvas > div{
    display: flex;
    flex-direction: row;
}