.chaos-canvas{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
@media screen and (max-width: 1052px){
    .chaos-canvas{
        flex-direction: column;
    }
}

.chaos-canvas > div > div{
    display: flex;
    flex-direction: column;
    max-width: 25em;
}
.chaos-canvas > div{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.chaos-canvas > div > div > div{
    display: flex;
    flex-direction: row;
}
.chaos-canvas > div > div > div >p >span{
    height: 5ex;
    font-weight: bold;
    color: black;
    cursor: pointer;
    z-index: 50;
    align-items: stretch;
    -webkit-align-items: center;
}

#start {
    height: 5ex;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    z-index: 50;
    align-items: center;
    align-self: center;
    -webkit-align-items: center;
}

canvas {
    width: 500px;
    height:500px;
    background: white;
    border: black 2px solid;
    align-self: center;
    min-width: 30%;
    min-height: 50%;
    max-width: 90%;
    max-height: 80%;
    object-fit: contain;
    margin: auto;
}

@media only screen and (max-width: 800px) {
    canvas {
        min-width: 100px;
        min-height: 100px;
        width: 90%;
        height: 100%;
        max-width: 90%;
        max-height: 90%;
    }
}