.glass-gallery {
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: all 1s ease;
}

.glass-gallery > div > div {
    width: calc((100vw / 3) - 20vw);
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    transition: all 1s ease;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-gallery > div > div:hover {
    height: 30vh;
}

.glass-gallery > div:hover:before {
    transform: translate(calc((((100vw / 3) - 20vw) * 0.7) / 5)) translateY(-3%);
}

.glass-gallery > div::before {
    content: "";
    position: absolute;

    width: calc(((100vw / 3) - 20vw) * 0.7);
    height: 32vh;
    background: -webkit-linear-gradient(143deg, #ed0984, #ff8530, #d4ed3d);
    background: linear-gradient(143deg, #ed0984, #ff8530, #d4ed3d);
    box-shadow: 0 0 4px 4px white;
    border-radius: 5px;
    opacity: 0.5;
    transition: all 1s ease;

    transform: skew(20deg) translate(calc((((100vw / 3) - 20vw) * 0.7) / 5)) translateY(-10%);
    z-index: -5;
}

.glass-gallery > div > div:hover::after {
    aspect-ratio: 1/1;
    height: 7vh;
    content: "";
    position: absolute;
    top: -35%;
    right: -50%;
    animation: taadaa 1s ease, rotator 2s infinite linear, mover 10s infinite linear;
    visibility: visible;
    opacity: 1;


    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-gallery > div > div::after {
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
}

.glass-gallery > div > div:hover::before {
    aspect-ratio: 1/1;
    height: 7vh;
    content: "";
    position: absolute;
    top: 110%;
    right: -50%;
    animation: taadaa 1s ease, rotator 2s infinite linear, mover 10s infinite reverse linear;
    transition: all 1s;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-gallery > div > div::before {
    transition: all 1s;
    animation: taadaa 1s ease reverse;
}

@keyframes taadaa {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotator {
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: 90deg;
    }
    100% {
        rotate: 180deg;
    }
}

@keyframes mover {
    0% {
        top: -35%;
        right: -50%;
    }
    25% {
        top: 110%;
        right: -50%;
    }
    40% {
        top: 110%;
        right: 120%;
    }
    80% {
        top: -35%;
        right: 120%;
    }
    100% {
        top: -35%;
        right: -50%;
    }

}


.second-glass-gallery {
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: black 1px dashed;
}

.blur-card::before {
    content: "";
    position: absolute;
    top: 0;
    aspect-ratio: 1/1;
    width: inherit;
    border-radius: calc(100% / 2);
    transform: translateY(-50%);
    background: red;
    z-index: -4;
}

.blur-card{
    width: calc((100vw / 3) - 20vw);
    height: 25vh;
    display: flex;
    justify-content: center;

    position: relative;
    overflow: hidden;
    background: white;
    border-radius: 16px;
    transition: all 1s ease;

    align-items: center;
    z-index: 6;

}

.blur{
    filter: blur(5px);
}


.third-glass-gallery {
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: black 1px dashed;
}


.third-glass-gallery > div{
    position: relative;
    width: calc((100vw / 3) - 20vw);
    height: 25vh;
    background: black;
    transition: all 1s ease;
    display: flex;
    overflow: clip;
}

.third-glass-gallery > div:after{

    opacity: 0;
    content: "";
    position: absolute;
    left: 40%;
    right: 60%;
    width: 20%;
    transform: scale(200%);
    height:inherit;
    background: lightblue;
    z-index: 0;
    transition: all 1s ease;

}

.third-glass-gallery > div:hover:after{
    opacity: 1;
    animation:rotator 1s infinite linear;
}

.card{
    margin: 5px;
    width: inherit;
    display: flex;
    justify-content: center;

    overflow: hidden;
    background: darkblue;
    border-radius:10px;

    transition: all 1s ease;

    color: rgba(255, 255, 255, 0.5);
    align-items: center;
    z-index: 5;
}

.card:hover{
    opacity: 1;
    color: rgba(255, 255, 255, 1);
}

.opac{
    opacity: 0.1;
}

.opac:hover{
    opacity: 1;
}
