.grid{
    background: black;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: repeat(3, 25vh);
    font-family: Roboto, sans-serif;
    grid-gap: 5px;
    color: white;
}

.grid > div{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap:15px;
    border-radius: 2px;;
    background: #333333;
}
.grid >div:hover{
    background: #e91e63;
}

.computer{
    grid-row:1;
    grid-column-start: 2 span;
    grid-column-end: auto;
}
.ai{
    grid-row:2;
    grid-column-start: 2;
    grid-column-end: 2;
}
.code{
    grid-row:2 span;
    grid-column-start: 1;
    grid-column-end: 1;
}
.www{
    grid-row-start: 1;
    grid-row-end: 2 span;
    grid-column-start: 3 ;
    grid-column-end: 3;
}
.setting{
    grid-row:1;
    grid-column-start: 4;
    grid-column-end: 4;
}
.binary{
    grid-row:2;
    grid-column-start: 4;
    grid-column-end: 4;
}
.phone{
    grid-row:3;
    grid-column-start: 2;
    grid-column-end: 4 span;
}

.js,#YN,#useless,button {
    margin: 20px;
}
#useless{
    background: #ff8530;
    width: 50px;
    height: 50px;
}