.input{
    width: 3em;
    text-align: center;
}
#settings{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#number{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 10ex;
}
#generate{
    height: 5ex;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    z-index: 50;
    align-items: stretch;
    -webkit-align-items: center;
}