.block-random{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
}

.block-random > div{
    width: 8em;
    height: 20ex;
    background-color: cadetblue;
    border: 2px solid darkslategray;
    border-radius: 10px;
    font-weight: bold;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-random > div > button{
    width: 9em;
    height: 5ex;
    background-color: yellowgreen;
    border: 1px solid darkslategray;
    border-radius: 15px;
    margin: 1em;
}

.block-random > div > button:hover{
    background-color: greenyellow;
}

.block-random > div > div{
    margin: auto;
    text-align: center;
    vertical-align: center;
}

#number-output{
    font-size: 4.5em;
}

#color-output{
    text-align: center;
    width: 7em;
    height: 4em;
}
