
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    clear: both;
    margin: 1.714285714rem 0;
    line-height: 1.714285714;
}

body {
    padding: 0;
    background: -webkit-linear-gradient(90deg, #a2a49f, #e0d0c4, #f1dac4);
    background: linear-gradient(90deg, #a2a49f, #e0d0c4, #f1dac4);
    margin: 0;
}

button > a:visited {
    color: forestgreen;
    text-decoration-color: hotpink;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
section{
    grid-row-start: 3 span;
    grid-row-end: auto;
}

.main_content > div:not(#headline) {
    grid-column: 2;
}


#headline {
    text-align-last: center;
}

dd + dt {
    background-color: rgb(128, 0, 128);
}

input {
    background-color: grey;
    border-color: yellow;
}

input::placeholder {
    color: rgb(20, 20, 20)
}

#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
    border-radius: 25px 25px 25px 25px;
    z-index: -100;
}

#space {
    height: 100px;
    width: 100px;
    float: right;
    margin-right: 15px;
    margin-left: 5px;
}

.gallery {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.gallery > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery > div > img {
    position: relative;
    padding: 5px;
    width: 256px;
    height: max-content;
    display: block;
    z-index: -2;
}

.gallery > div > div {
    display: flex;
    position: absolute;
    width: 256px;
    height: 256px;
    color: white;

    flex-direction: column-reverse;
    align-content: flex-end;
    align-items: center;
    padding: 5px;

    visibility: hidden;
}

.gallery > div > div > a {
    background: #55701d;
    border-radius: 5px;
}

.gallery > div > div > a:after {
    content: "-";
}

.gallery > div > div > a:before {
    content: "-";
}

.gallery > div:hover > div {
    visibility: visible;

    -webkit-box-shadow: 0 -48px 59px 54px rgba(0, 255, 86, 0.7) inset;
    -moz-box-shadow: 0 -48px 59px 54px rgba(0, 255, 86, 0.7) inset;
    box-shadow: 0 -48px 59px 54px rgba(0, 255, 86, 0.7) inset;
}