#headline{
    text-align-last: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  clear: both;
  margin: 1.714285714rem 0;
  line-height: 1.714285714;
}

body {
  padding: 0;
  background-color: #c4c4c4;
  margin: 0;
}

button > a:visited {
  color: forestgreen;
  text-decoration-color: hotpink;
}

form{
    width: 270px;
    background-color: rgb(255, 150, 128);
}

form > p > input:focus{
    background-color: rgb(0, 255, 128);
}

.main_content{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

dd+dt{
  background-color: rgb(128, 0, 128);
}

input{
  background-color: grey;
  border-color: yellow;
}

input::placeholder{
  color: rgb(20,20,20)
}

#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
  border-radius: 25px 25px 25px 25px;
  z-index: -100;
}

#cubes {
  height: 100px;
  width: 170px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}

#space{
  height: 100px;
  width: 100px;
  float:right;
  margin-right: 1 rem;
}

.gallery{
  width: 100vw;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.gallery > img{
  padding: 5px;
  width: 256px;
  height: max-content;
  display: block;
}
