* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header{
    display: flex;
    justify-content: center;
    wrap-option: wrap;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    background: url("resources/head_background.png") center top repeat;
    padding: 4px 0;
    height: 120px;
    z-index: 100;
}

.btn-menu{
    visibility: hidden;
    background: gold url("resources/menu.png") no-repeat;
    background-size: 45px 45px;
    border: 2px solid firebrick;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    right:0;
    transform: rotate(0);
}



aside {
    float: right;
    margin: 0;
    padding: 0;
}

.menu > li{
    width: 13em;
    height: 5ex;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    z-index: 50;
    flex-direction: row;
    display: inline-flex;
    align-items: stretch;
    -webkit-align-items: center;
}

.menu > li > a{
    width: inherit;
    text-align: center;
}

.menu > li:hover{
    background-color: bisque;
}
.menu > li:active{
    background-color: blue;
}
.btn-menu:hover{
    background-color: bisque;
}

@media screen and (max-width: 1052px){
    header{
        padding: 4px 0;
        justify-content: space-between;
    }
    .hvr{
        visibility: visible;
    }
    header.hvr{
        height: 100vh;
        position: absolute;
        background: rgba(120,121,255,0.51);
    }
    header.hvr > .menu{
        visibility: visible;
    }
    header.hvr > .btn-menu{
        transform: rotate(90deg);
        transition: 1s;
    }
    header.hvr > .logo{
        display: none;
    }
    .menu{
        width: 100vw;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .btn-menu{
        visibility: visible;
    }
    .menu >li{
        width: 15em;
    }
    .menu > li > a:before{
        /*TODO: Random emoticons*/
        content: "😀";
    }
    .menu >li>a:after{
        content: "🥳";
    }
}


footer {
    display: flex;
    justify-content: space-around;
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 128);
    padding: 0 0 0 0;
}

.media-box{
    display: grid;
    grid-template-columns:repeat(5,max-content) ;
    flex-direction: row;
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    .media-box{
        grid-template-rows:repeat(2,max-content) ;
        grid-template-columns:repeat(3,max-content) ;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .media-box{
        grid-template-rows:repeat(5,max-content) ;
        grid-template-columns:repeat(1,max-content) ;
    }
    footer{
        flex-direction: column;
    }
}

.media{
    position: relative;
    margin: 20px;
    aspect-ratio: 1/1;
    width: 50px;
    border-radius: calc(50px / 2);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    overflow: hidden;

}
.media::before{
    content: "";
    position: absolute;
    aspect-ratio: 1/1;
    width: 50px;
    border-radius: calc(50px / 2);

    background: red;
    transition: all 1s ease;
    transform: translateY(-100%);
    z-index: 4;
}
.media:hover::before{
    transform: translateY(0);
    transition: all 1s ease;
}

.media:nth-child(1) > .icon{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("resources/iconmonstr-vk-1.svg") no-repeat;
    background-size: 41px 41px;
    background-position: 5px 5px;
    z-index: 5;
}